doctype
html
  head
    title Click Decisions
    link(rel='stylesheet', type='text/css', href='/css/main.css')
    // <script src="js/jquery.js"></script>
    link(href='https://fonts.googleapis.com/css?family=Raleway:400,700,900', rel='stylesheet')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm', crossorigin='anonymous')
    title= "Click Decisions"
  body
    #wrapper
      header
        h1 Click Decisions
        img(src='img/header.png', alt='Click Decisions')
      h2#houseName House: Sac-Shack
      #notification
        img#notif(src='img/notif.png', alt='notification')
        #box.speech-bubble
          p#notifHead New Polls
          p.newpoll Lights?
          p.newpoll Music?
        // <svg id="notificationNum" height="80" width="80"><circle cx="10" cy="10" r="8" fill="red" /></svg>
        // <p id="notifNumber">1</p>
      #poll
        h4#resulthead Results For
        h3#pollName Should we dim the lights?
        #options
          .line
            img.profPic(src='img/ryan.png')
            img.profPic(src='img/rach.png')
            img.profPic(src='img/cass.png')
            p.voteNum 3
            p.pollOpt Hell Yeah!
          .line
            img.profPic(src='img/alex.png')
            p.voteNum 1
            p.pollOpt Seriously, no
          .line
            p.voteNum 0
            p.pollOpt Change it to Blue
